{% extends "basic.html" %}

{% block content %}

<div class="container">
    <form method="post" enctype="multipart/form-data" class="mt-3">
        {% csrf_token %}
    {{form}}
    <input class="mt-3" type="submit" name="submit" value="Upload" />
    </form>

    <table class="table mt-3">
        <tr>
            <th scope="col">zip</th>
            <th scope="col">summe</th>
        </tr>

        {%for row in csv_list %}
        <tr>
            <td scope="row"></td>>Zip: {{row.zip}}</td>
            <td scope="row"></td>>Sum: {{row.summe}}</td>
        </tr>
        {%endfor%}
    </table>

</div>
{% endblock %}